*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 250, 247);
    display: flex;
    align-items: flex-end;
    padding: 50px;
    padding-top: 85px;
    padding-bottom: 0;
    gap: 70px;
}
#left{
    height: 100%;
    width: 45%;
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}
#left h1{
    font-size: 94px;
    font-family: 'Work Sans';
    color: rgb(48, 47, 47);
    line-height: 100px;
    font-weight: 500;
}
#left-bottom{
    height: 35%;
    width: 100%;
    margin-bottom: 30px;
    
}
#color{
    display: flex;
    border: 1px solid rgb(38, 37, 37);
    border-radius: 50px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
   
}
#color h4{
    margin-right: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #373535;
}
#color1{
    background-color: rgb(162, 118, 37);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 2px;
}
#color2{
    background-color: rgb(7, 53, 14);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 2px;
}
#left-bottom h2{
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 25px;
}
#left-bottom p{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    width: 65%;
    color: #444;
}
#right{

    height: 100%;
    width: 30%;
    position: relative;
    margin-bottom: 0;
    
}

#right-top{
    height: 37px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
#right-top h4{
    font-size: 20px;
    font-weight: 600;
}
#right-top h5{
    font: size 12px ;
}
#right-top h5 i{
    font-size: 9px;
    color: gold;
}
#right img{
    width: 100%;
    height: calc(100% - 37px);
    object-fit: cover;
    margin: 0;
}
#addbag{
    display: flex;
    background-color: rgb(43, 43, 44);
    color: white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 30%;
    right: -15%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#right h3{
    position: absolute;
    rotate: -90deg;
    transform-origin: 0 0;
    left: -14%;
    bottom: 3%;
    font-size: 25px;
    font-weight: 500;

}

